/* 动画 */
/* 攻击1 */
.attack1 .bone-weapon{
	-webkit-animation:attack1-weapon 1.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
}
@-webkit-keyframes attack1-weapon{
	0%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	35%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	45%{-webkit-transform:rotate(-40deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	100%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}
.attack1 .bone-arm-r{
	-webkit-animation:attack1-arm-r 1.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
	left:-17px;top:5px;
}
@-webkit-keyframes attack1-arm-r{
	0%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	35%{-webkit-transform:rotate(160deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);left:0px;top:5px;}
	45%{-webkit-transform:rotate(-70deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);left:-30px;top:10px;}
	100%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}
.attack1 .bone-arm-l{
	-webkit-animation:attack1-arm-l 1.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
	left:10px;top:-7px;
}
@-webkit-keyframes attack1-arm-l{
	0%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	35%{-webkit-transform:rotate(60deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);left:0px;top:0px;}
	45%{-webkit-transform:rotate(-20deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);left:-15px;top:-10px;}
	100%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}
.attack1 .bone-head{
	-webkit-animation:attack1-head 1.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
	left:2px;top:-4px;
}
@-webkit-keyframes attack1-head{
	0%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	35%{-webkit-transform:rotate(20deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);left:2px;top:-4px;}
	45%{-webkit-transform:rotate(-30deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);left:-22px;top:10px;}
	100%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}
.attack1 .face01-1{
	-webkit-animation:attack1-face01 1.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
}
@-webkit-keyframes attack1-face01{
	0%{ background:url(../images/character/face/01-1.png) no-repeat;}
	1%{background:url(../images/character/face/01-3.png) no-repeat;}
	70%{background:url(../images/character/face/01-3.png) no-repeat;}
	71%{ background:url(../images/character/face/01-1.png) no-repeat;}
	100%{ background:url(../images/character/face/01-1.png) no-repeat;}
}
.attack1 .bone-body{
	-webkit-animation:attack1-body 1.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
}
@-webkit-keyframes attack1-body{
	0%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	35%{-webkit-transform:rotate(5deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	45%{-webkit-transform:rotate(-40deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	100%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}
.attack1 .bone-foot-l{
	-webkit-animation:attack1-foot-l 1.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
	left:13px;top:39px;
}
@-webkit-keyframes attack1-foot-l{
	0%{-webkit-transform:rotate(-30deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);left:13px;top:39px;}
	35%{-webkit-transform:rotate(-30deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);left:13px;top:39px;}
	45%{-webkit-transform:rotate(-60deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);left:6px;top:39px;}
	100%{-webkit-transform:rotate(-30deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);left:13px;top:39px;}
}
.attack1 .bone-hair{
	-webkit-animation:attack1-hair 1.5s infinite ease-out;
    -webkit-transform-style: preserve-3d;
}
@-webkit-keyframes attack1-hair{
	0%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	45%{-webkit-transform:rotate(20deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	60%{-webkit-transform:rotate(-10deg) scale(1.00,1.00) translate(0px,0px) skew(30deg,-30deg);}
	100%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}



/* 站立1 */
.stand1 .bone-head{
	-webkit-animation:stand1-head 1.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
}
@-webkit-keyframes stand1-head{
	0%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	50%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(-4px,6px) skew(0deg,0deg);}
	100%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}
.stand1 .bone-body{
	-webkit-animation:stand1-body 1.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
}
@-webkit-keyframes stand1-body{
	10%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	50%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(-2px,3px) skew(0deg,0deg);}
	100%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}
.stand1 .bone-arm-r,.stand1 .bone-arm-l{
	-webkit-animation:stand1-arm 1.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
}
@-webkit-keyframes stand1-arm{
	10%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	60%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(-3px,5px) skew(0deg,0deg);}
	100%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}
.stand1 .bone-foot-l{
	-webkit-animation:stand1-foot-l 1.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
	left:13px;top:39px;
}
@-webkit-keyframes stand1-foot-l{
	0%{-webkit-transform:rotate(-30deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	100%{-webkit-transform:rotate(-30deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}
.stand1 .bone-hair{
	-webkit-animation:stand1-hair 1.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
}
@-webkit-keyframes stand1-hair{
	0%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	55%{-webkit-transform:rotate(-15deg) scale(1.00,1.00) translate(0px,0px) skew(-3deg,-3deg);}
	100%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}



/* 行走1 */
.walk1{ left:-10px; top:-56px}
.walk1 .bone-body{
	-webkit-animation:walk1-body 0.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
	left:0px;top:32px;
	
}
@-webkit-keyframes walk1-body{
	0%{-webkit-transform:rotate(-43deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	50%{-webkit-transform:rotate(-47deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	100%{-webkit-transform:rotate(-43deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}
.walk1 .bone-head{
	-webkit-animation:walk1-head 0.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
	left:-28px;top:9px;
	
}
@-webkit-keyframes walk1-head{
	0%{-webkit-transform:rotate(15deg) scale(1.00,1.00) translate(-2px,-1px) skew(0deg,0deg);}
	50%{-webkit-transform:rotate(10deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	100%{-webkit-transform:rotate(15deg) scale(1.00,1.00) translate(-2px,-1px) skew(0deg,0deg);}
}
.walk1 .bone-arm-l{
	-webkit-animation:walk1-arm-l 0.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
	left:-16px;top:-1px;
}
@-webkit-keyframes walk1-arm-l{
	0%{-webkit-transform:rotate(-45deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	50%{-webkit-transform:rotate(-25deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	100%{-webkit-transform:rotate(-45deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}
.walk1 .bone-arm-r{
	-webkit-animation:walk1-arm-r 0.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
	left:-40px;top:13px;
}
@-webkit-keyframes walk1-arm-r{
	0%{-webkit-transform:rotate(20deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	50%{-webkit-transform:rotate(30deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	100%{-webkit-transform:rotate(20deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}
.walk1 .bone-foot-l{
	-webkit-animation:walk1-foot-l 0.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
	left:3px;top:29px;
}
@-webkit-keyframes walk1-foot-l{
	0%{-webkit-transform:rotate(-80deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	50%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);left:-9px;top:37px;}
	100%{-webkit-transform:rotate(-80deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}
.walk1 .bone-foot-r{
	-webkit-animation:walk1-foot-r 0.5s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
	left:-9px;top:37px;
}
@-webkit-keyframes walk1-foot-r{
	0%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	50%{-webkit-transform:rotate(-80deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);left:3px;top:29px;}
	100%{-webkit-transform:rotate(0deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}
.walk1 .bone-hair{
	-webkit-animation:walk1-hair 0.3s infinite ease-in-out;
    -webkit-transform-style: preserve-3d;
}
@-webkit-keyframes walk1-hair{
	0%{-webkit-transform:rotate(-30deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
	50%{-webkit-transform:rotate(-35deg) scale(1.00,1.00) translate(0px,0px) skew(3deg,2deg);}
	100%{-webkit-transform:rotate(-30deg) scale(1.00,1.00) translate(0px,0px) skew(0deg,0deg);}
}