/* 模型基础样式 */
.base{ position:absolute; width:0; height:0;}
.base div{ position:absolute; cursor:move}

.shadow{ width:80px; height:21px; background:url(../images/shadow/01.png) no-repeat; left:-40px; top:-10px; z-index:100}
.unit{ left:-2px; top:-56px; z-index:100; width:0; height:0;}
.rev{-webkit-transform: rotateY(180deg);transform: rotateY(180deg);-moz-transform: skew(0deg, 180deg) scale(-1, 1);-o-transform: skew(0deg, 180deg) scale(-1, 1);}
body .base .link{ width:4px; height:4px; background:#0C0;background:#0C0!important; z-index:101;margin:-2px 0 0 -2px; cursor:default; display:none; white-space:nowrap; line-height:4px; text-indent:6px; text-shadow:0px 1px 0px #fff,0px -1px 0px #fff,1px 0px 0px #fff,-1px 0px 0px #fff; color:#000;}
body .base .link:hover,body .base .link:active,body .current > .link{ width:8px; height:8px;margin:-4px 0 0 -4px; background:#0C0; background:#0C0!important; cursor:default; font:bold 14px/8px Verdana, Geneva, sans-serif; color:#000;text-indent:12px; z-index:103}
body .current{ z-index:105}


/* 装备基础样式 */
.arm-l01{ z-index:100;background:url(../images/character/armleft/01.png) no-repeat; width:49px; height:69px;left:-6px;top:-10px;}
.face01-1{ z-index:100;background:url(../images/character/face/01-1.png) no-repeat; width:41px; height:41px;left:0px;top:0px;}
.face01-2{ z-index:100;background:url(../images/character/face/01-2.png) no-repeat; width:41px; height:41px;left:0px;top:0px;}
.head01{ z-index:100;background:url(../images/character/head/01.png) no-repeat; width:113px; height:103px;left:-49px;top:-86px;}
.hair01{ z-index:100;background:url(../images/character/hair/01.png) no-repeat; width:59px; height:47px;left:-4px;top:-24px;}
.body01{ z-index:100;background:url(../images/character/body/01.png) no-repeat; width:36px; height:47px;left:-17px;top:-40px;}
.arm-r01{ z-index:100;background:url(../images/character/armright/01.png) no-repeat; width:46px; height:43px;left:-40px;top:-5px;}
.w01{ z-index:100;background:url(../images/weapon/01.png) no-repeat; width:43px; height:111px;left:-30px;top:-89px;}
.foot-l01{ z-index:100;background:url(../images/character/footleft/01.png) no-repeat; width:22px; height:22px;left:-16px;top:-4px;}
.foot-r01{ z-index:100;background:url(../images/character/footright/01.png) no-repeat; width:23px; height:26px;left:-11px;top:-4px;}


/* 骨骼基础样式 */
.bone-arm-l{left:10px;top:-7px; z-index:100}
.bone-face{left:-43px; top:-31px; z-index:100}
.bone-head{left:2px;top:-4px; z-index:100}
.bone-hair{left:10px;top:-63px; z-index:100}
.bone-arm-r{left:-17px;top:5px; z-index:100}
.bone-weapon{left:-32px;top:27px; z-index:100}
.bone-body{left:0px;top:37px; z-index:100}
.bone-foot-l{left:18px;top:41px; z-index:100}
.bone-foot-r{left:-9px;top:37px; z-index:100}

/* 装备icon */
.iwa001 { background:#999; display:block; width:38px; height:38px; border:1px solid #666}
