/* 模型基础样式 */
.base{ position:absolute; width:0; height:0;}
.base *{ position:absolute; cursor:move; display:block;}

.shadow{ width:80px; height:21px; background:url(../images/shadow/01.png) no-repeat; left:-40px; top:-10px; z-index:100}
.unit{ left:-2px; top:-56px; z-index:100; width:0; height:0;}
.rev{-webkit-transform: rotateY(180deg);transform: rotateY(180deg);-moz-transform: skew(0deg, 180deg) scale(-1, 1);-o-transform: skew(0deg, 180deg) scale(-1, 1);}
body .base .link{ width:4px; height:4px; background:#0C0;background:#0C0!important; z-index:1001;margin:-2px 0 0 -2px; cursor:default; display:none; white-space:nowrap; line-height:4px; text-indent:6px; text-shadow:0px 1px 0px #fff,0px -1px 0px #fff,1px 0px 0px #fff,-1px 0px 0px #fff; color:#000;}
body .base .link:hover,body .base .link:active,body .current > .link{ width:8px; height:8px;margin:-4px 0 0 -4px; background:#0C0; background:#0C0!important; cursor:default; font:bold 14px/8px Verdana, Geneva, sans-serif; color:#000;text-indent:12px; z-index:103}
body .current{}



/* 骨骼基础样式 素体骨骼 */
.bone-arm-l{left:10px;top:-7px; z-index:100}
.bone-arm-l-2{left:19px; top:28px; z-index:100;}
.bone-hand-l{ left:-2px; top:12px; z-index:100}
.bone-face{left:-43px; top:-31px; z-index:100}
.bone-head{left:2px;top:-4px; z-index:100}
.bone-hair{left:10px;top:-63px; z-index:100}
.bone-arm-r{left:-17px;top:1px; z-index:100;-webkit-transform:rotate(-26deg);-moz-transform:rotate(-26deg);}
.bone-arm-r-2{left:-16px;top:14px; z-index:100;-webkit-transform:rotate(-2deg);-moz-transform:rotate(-2deg);}
.bone-hand-r{left:-9px; top:8px; z-index:100}
.bone-weapon{left:-8px;top:1px; z-index:100}
.bone-body{left:0px;top:37px; z-index:100}
.bone-leg-l{left:14px;top:32px; z-index:100}
.bone-foot-l{left:7px;top:14px; z-index:100}
.bone-leg-r{left:-3px;top:35px; z-index:100}
.bone-foot-r{left:-4px;top:15px; z-index:100}
.hand-l01{ z-index:100;background:url(../images/character/handleft/01.png) no-repeat; width:37px; height:40px;left:-17px;top:-23px;}
.hand-r01 { z-index:100;background:url(../images/character/handright/01.png) no-repeat; width:18px; height:19px;left:-15px;top:-7px;}

/* 单手剑骨骼造型 */
.sword .bone-arm-r{left:-17px;top:7px; z-index:100;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);}
.sword .bone-arm-r-2{left:-16px;top:14px; z-index:100;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);}

/* 素体造型 */
.face01-1{ z-index:100;background:url(../images/character/face/01-1.png) no-repeat; width:41px; height:41px;left:0px;top:0px;}
.face01-2{ z-index:100;background:url(../images/character/face/01-2.png) no-repeat; width:41px; height:41px;left:0px;top:0px;}
.head01{ z-index:100;background:url(../images/character/head/01.png) no-repeat; width:113px; height:103px;left:-49px;top:-86px;}
.head02{ z-index:100;background:url(../images/character/head/02.png) no-repeat; width:113px; height:103px;left:-49px;top:-86px;}
.hair01{ z-index:100;background:url(../images/character/hair/01.png) no-repeat; width:59px; height:47px;left:-4px;top:-24px;}
.bone-body .none{ z-index:100;background:url(../images/character/body/male01.png) no-repeat; width:36px; height:47px;left:-17px;top:-40px;}
.bone-arm-l .none{ z-index:100;background:url(../images/character/armleft/male01-1.png) no-repeat; width:34px; height:49px;left:-6px;top:-10px;}
.bone-arm-l-2 .none{ z-index:100;background:url(../images/character/armleft/male01-2.png) no-repeat; width:18px; height:24px;left:-8px;top:-6px;}
.bone-arm-r .none{ z-index:100;background:url(../images/character/armright/male01-1.png) no-repeat; width:46px; height:43px;left:-25px;top:-7px;}
.bone-arm-r-2 .none{ z-index:100;background:url(../images/character/armright/male01-2.png) no-repeat; width:46px; height:43px;left:-15px;top:-7px;}
.bone-leg-l .none{ z-index:100;background:url(../images/character/legleft/male01.png) no-repeat; width:24px; height:29px;left:-8px;top:-2px;}
.bone-foot-l .none{ z-index:100;background:url(../images/character/footleft/male01.png) no-repeat; width:24px; height:29px;left:-15px;top:-16px;}
.bone-leg-r .none{ z-index:100;background:url(../images/character/legright/male01.png) no-repeat; width:26px; height:28px;left:-23px;top:-2px;}
.bone-foot-r .none{ z-index:100;background:url(../images/character/footright/male01.png) no-repeat; width:26px; height:28px;left:-18px;top:-18px;}
.bone-weapon .none,#shoulderl.none,#shoulderr.none,#wristerr.none,#wristerl.none { background:none; display:none};
